.social-btn {
  position: bottom;
  width: 78px;
  border: 1px solid black;
  padding: 10px;
  margin: 0;
  background: blue;
  text-align: center;
  color: white;

}

@import "bootstrap-sprockets";
@import "bootstrap";